.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: xxx-large;
    padding: 0.2rem;
    margin: 0.3rem;
}

.linha_bot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h2 {
    font-size: xx-large;
    margin: 0.2rem;
}

.hora {
    font-size: x-large;
    padding: 0.4rem;
    border: 0.05rem solid gray;
    width: 1.4rem;
}

img {
    margin: 0.5rem;
}

body{
    margin:3%;
}

li {
    font-size: large;
}

h2 {
    font-size: x-large;
    margin: 0.8rem;
}

ul {
    margin: 0.4rem;
}

.h1-borda {
    border: 0.1rem solid black;
}

footer {
    display: flex;
    justify-content: space-around;
}
