.coluna {
    display: flex;
    flex-direction: column;
}
.linha {
    display: flex;
    flex-direction: row;
}

.linha_z {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.barra{
    padding: 1.5rem 0;
    border-left: 0.1rem solid gray;
}

.linha_full {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 20vw;
    padding: 0.2rem;
    margin: 0.3rem;
}

.linha_bot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h2 {
    font-size: xx-large;
    padding: 0.2rem;
    margin: 0.2rem;
}

.hora {
    font-size: xx-large;
    margin: 0;
    padding: 1.2rem 0;
    border: 0.05rem solid gray;
    width: 3rem;
}

img {
    margin: 0.5rem;
    width: 50px;
}

body{
    margin:3%;
    font-family: 'Roboto Condensed', sans-serif;
}

li {
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    border: 0.1rem gray;
    border-style: solid none;
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: x-large;
    margin: 0.5rem;
}

p.sm, a{
    font-size: larger;
}


ul {
    margin: 2rem 1.5rem;
}

.h1-borda {
    border: 0.1rem solid black;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 1rem 0.1rem 0.1rem 0.1rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0.2rem solid gray;
    background-color: rgb(255, 255, 255);
}

h3 {
    margin: 0.6rem;
}

.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0.5rem;
    margin: 1rem 0rem;
    border: 0.1rem solid gray;
    border-style: solid none;
}