.coluna {
    display: flex;
    flex-direction: column;
}
.linha {
    display: flex;
    flex-direction: row;
}

.linha2 {
    display: flex;
    flex-direction: row;
    margin: 0.8rem;
}

.linha_z {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#data{
    padding-top: 1rem;
}

.barra{
    padding: 1.5rem 0;
    border-left: 0.1rem solid hsl(242, 80%, 71%);
}

.linha_full {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linha_full2 {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


.linha_full_marg {
    margin: 01.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    padding: 0.2rem;
    margin: 0.3rem;
}

.linha_bot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

h2 {
    font-size: xx-large;
    padding: 0.2rem;
    margin: 0.2rem;
}

h2.pl {
    font-size: xxx-large;
}

h2.titulo {
    display: flex;
    flex-direction: row;
    font-size: xxx-large;
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

h2.spacing {
    margin: 1rem 0.6rem;
    padding-top: 0.8rem;
    border-top: 0.15rem solid hsl(242, 80%, 71%);
}

.hora {
    font-size: xx-large;
    margin: 0;
    padding: 1.2rem 0;
    border: 0.05rem solid hsl(242, 80%, 71%);
    width: 3rem;
}

.hora2 {
    font-size: xx-large;
    margin: 0;
    padding: 1.2rem 0;
    border: 0.05rem solid hsl(242, 80%, 71%);
    width: 3rem;
    background-color: rgb(255, 234, 115);
}

.hora3 {
    font-size: xx-large;
    margin: 0;
    padding: 1.2rem 0;
    border: 0.05rem solid hsl(242, 80%, 71%);
    width: 3rem;
    background-color: rgb(255, 161, 161);
}

img {
    margin: 0.5rem;
    width: 50px;
}

img.m {
    width: auto;
}

body{
    margin:3%;
    font-family: 'Roboto Condensed', sans-serif;
}

li {
    display: flex;
    flex-direction: row;
    font-size: xx-large;
    border: 0.15rem hsl(242, 80%, 71%);
    border-style: solid none;
    border-top: none;
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: x-large;
    margin: 0.5rem;
}

p.pendente {
    display: inline-block;
    font-style: italic;
    background-color: rgb(241, 97, 97);
    padding: 0.3rem;
}

p.highlight {
    background-color: rgb(255, 255, 100);
}

p.spacing {
    margin: 1.2rem 0.5rem;
    padding-top: 0.8rem;
    border-top: 0.15rem solid hsl(242, 80%, 71%);
}

p.sm, a{
    font-size: larger;
}


ul {
    margin: 2rem 1.5rem;
}

.h1-borda {
    border: 0.1rem solid hsl(242, 80%, 71%);
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 1rem 0.1rem 0.1rem 0.1rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0.2rem solid hsl(242, 80%, 71%);
    background-color: hsl(178, 5%, 100%);
}

h3 {
    margin: 0.6rem;
}

.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0.5rem;
    margin: 1rem 0rem;
    border: 0.1rem solid hsl(242, 80%, 71%);
    border-style: solid none;
}

figure {
    margin-left: 2.5rem;
    margin-top: 1rem;
    justify-content: center;
    width: 75%;
}

section {
    width: 45%;
    padding: 0.4rem;
    margin: 1rem 0.1rem 0.3rem;
}

section.b {
    border-right: 0.1rem solid hsl(242, 80%, 71%);
}

li.nm {
    margin: 1rem 0.1rem;
    padding: 0;
    font-size: large;
    border: none;
}

ul.nm {
    margin: 0.5rem 0.2rem;
}

header.tm {
    margin-top: 2rem;
}

main.mg {
    margin: 1rem;
}

button{
    padding: 1%;
    font-size: medium;
}

h2.red {
    color: rgb(233, 36, 36);
}

h2.green {
    color: rgb(3, 187, 3);
}

input {
    border-style: none;
}

#input {
    width: 100%;
    font-size: large;
    padding: 0.12rem 0.20rem 0.12rem 0.40rem;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    height: 3rem;
}

#lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#lista li a:hover:not(.header) {
    background-color: #eee;
}

a{
    text-decoration: none;
}

.adicionar {
    margin-top: 3%;
}

.seta{
    width: 2rem;
}